{% extends 'base.html' %}

{% block content %}
<h1 id="titulo-registro">Registro</h1>
<form id="form-registro" method="post">
    {% csrf_token %}
    
    <!-- Nombre de Usuario -->
    <div class="form-row">
        <label for="id_username" id="label-username">Nombre de Usuario:</label>
        {{ form.username }}
    </div>

    <!-- Nombre -->
    <div class="form-row">
        <label for="id_first_name" id="label-firstname">Nombre:</label>
        {{ form.first_name }}
    </div>

    <!-- Apellido -->
    <div class="form-row">
        <label for="id_last_name" id="label-lastname">Apellido:</label>
        {{ form.last_name }}
    </div>

    <!-- Correo Electrónico -->
    <div class="form-row">
        <label for="id_email" id="label-email">Correo Electrónico:</label>
        {{ form.email }}
    </div>

    <!-- Contraseña -->
    <div class="form-row">
        <label for="id_password1" id="label-password1">Contraseña:</label>
        {{ form.password1 }}
    </div>

    <!-- Confirmar Contraseña -->
    <div class="form-row">
        <label for="id_password2" id="label-password2">Confirmar Contraseña:</label>
        {{ form.password2 }}
    </div>

    <!-- Botón de registrar -->
    <button id="btn-registrar" type="submit" class="btn">Registrar</button>
</form>

<p id="tienes-cuenta">¿Ya tienes una cuenta? <a id="link-iniciar-sesion" href="{% url 'login' %}">Inicia sesión aquí</a>.</p>
{% endblock %}
