{% extends 'base.html' %}

{% block content %}
    <h1>Registro</h1>
    <form method="post">
        {% csrf_token %}
        <label for="id_username">Nombre de Usuario:</label>
        {{ form.username }}
        <br>
        <label for="id_first_name">Nombre:</label>
        {{ form.first_name }}
        <br>
        <label for="id_last_name">Apellido:</label>
        {{ form.last_name }}
        <br>
        <label for="id_email">Correo Electrónico:</label>
        {{ form.email }}
        <br>
        <label for="id_password1">Contraseña:</label>
        {{ form.password1 }}
        <br>
        <label for="id_password2">Confirmar Contraseña:</label>
        {{ form.password2 }}
        <br>
        <button type="submit">Registrar</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a>.</p>
{% endblock %}
