{% extends 'base.html' %}

{% block content %}
<div class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-md mt-40 mb-24"> <!-- Ajuste de margen inferior -->
    <h1 id="titulo-acerca-de" class="text-3xl font-bold text-center text-gray-800 mb-6">Acerca de GOTTA</h1>
    
    <p id="descripcion-acerca-de" class="text-lg text-gray-700 leading-relaxed mb-6">
        Bienvenido a <span class="font-semibold text-gray-800">GOTTA</span>, tu tienda de ropa en línea para encontrar lo último en moda y estilo. Nos enorgullece ofrecer una selección diversa y cuidadosamente curada de prendas de alta calidad, que abarcan desde básicos esenciales hasta las piezas más innovadoras y de tendencia.
    </p>
    
    <p class="text-lg text-gray-700 leading-relaxed mb-6">
        En GOTTA, creemos que la moda es más que solo ropa; es una expresión de quién eres y de cómo quieres ser visto. Por eso, trabajamos con diseñadores y marcas de confianza, para que puedas descubrir y elegir las piezas que mejor representen tu estilo único.
    </p>
    
    <p class="text-lg text-gray-700 leading-relaxed mb-6">
        Además, nuestro compromiso va más allá de la moda. En GOTTA, estamos dedicados a ofrecerte una experiencia de compra sin complicaciones, con un servicio al cliente excepcional y envíos rápidos y seguros. Ya sea que busques una actualización de armario o un look para una ocasión especial, estamos aquí para ayudarte a encontrar exactamente lo que necesitas.
    </p>
    
    <p class="text-lg text-gray-700 leading-relaxed">
        ¡Explora nuestra colección y descubre por qué GOTTA es la tienda de confianza para amantes de la moda de todas partes! Nos apasiona ayudarte a encontrar tu estilo perfecto.
    </p>
</div>
{% endblock %}
