{% extends 'base.html' %}

{% load static %}  <!-- Load the static files template tag library -->

{% block content %}
<h1 id="titulo-bienvenida">Bienvenido a GOTTA</h1>

<div id="banner-container" class="banner">
    <img id="banner-img" src="{% static 'images/banner.jpg' %}" alt="Banner">
</div>

<nav id="category-nav">
    <ul id="category-list">
        {% for category in categories %}
        <li id="category-item-{{ category.id }}"><a href="{% url 'products_by_category' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</nav>


<h2 id="titulo-productos-destacados">Productos Destacados</h2>

<div id="products-container" class="products">
    {% for product in products %}
    <div id="product-{{ product.id }}" class="product">
        <img id="product-img-{{ product.id }}" src="{{ product.image.url }}" alt="{{ product.name }}">
        <h3 id="product-name-{{ product.id }}"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
        <p id="product-price-{{ product.id }}">S/ {{ product.price }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
