{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mt-40 mb-40"> <!-- Ajuste de margen superior e inferior a la misma altura que el ejemplo anterior -->
    <h1 id="titulo-lista-productos" class="text-2xl font-semibold text-center my-6 text-gray-800">Lista de Productos</h1>

    <div class="flex flex-col lg:flex-row lg:space-x-6">
        <!-- Filtro de categorías -->
        <div id="category-filters" class="bg-white p-4 mb-6 rounded-lg shadow-md max-w-xs mx-auto lg:mx-0">
            <h3 class="text-lg font-medium text-gray-700 mb-3">Filtrar por Categoría</h3>
            <ul class="space-y-2">
                <li>
                    <input type="radio" id="filter-all" name="category" value="all" {% if selected_category == "all" or not selected_category %}checked{% endif %}>
                    <label for="filter-all" class="text-gray-700 cursor-pointer">Todas las Categorías</label>
                </li>
                {% for category in categories %}
                <li>
                    <input type="radio" id="filter-{{ category.id }}" name="category" value="{{ category.id }}" {% if selected_category == category.id|stringformat:"s" %}checked{% endif %}>
                    <label for="filter-{{ category.id }}" class="text-gray-600 cursor-pointer">{{ category.name }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Filtro de atributos específicos -->
        <div id="specific-filters" class="bg-white p-4 mb-6 rounded-lg shadow-md max-w-xs mx-auto lg:mx-0">
            <h3 class="text-lg font-medium text-gray-700 mb-3">Filtrar por Atributos</h3>
            <ul class="space-y-2">
                <li>
                    <input type="radio" id="specific-filter-all" name="filter" value="all" {% if not selected_filter or selected_filter == "all" %}checked{% endif %}>
                    <label for="specific-filter-all" class="text-gray-700 cursor-pointer">Todos los Atributos</label>
                </li>
                {% for filter in filters %}
                <li>
                    <input type="radio" id="filter-{{ filter.id }}" name="filter" value="{{ filter.id }}" {% if selected_filter == filter.id|stringformat:"s" %}checked{% endif %}>
                    <label for="filter-{{ filter.id }}" class="text-gray-600 cursor-pointer">{{ filter.name }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Contenedor de productos -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 flex-1" id="products-container">
            {% for item in page_obj %}
            <div class="product bg-white p-4 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <a href="{% url 'product_detail' product_id=item.product.id %}">
                    {% if item.product.image %}
                        <img class="w-full h-auto object-cover rounded-lg mb-4" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                        <p class="text-red-500">Imagen no disponible</p>
                    {% endif %}
                    <h3 class="text-lg font-medium text-gray-800 text-center">{{ item.product.name }}</h3>
                </a>
                <p class="text-center text-gray-600 font-semibold mt-2">
                    {% if item.discounted_price %}
                        <span class="line-through">S/ {{ item.min_price }}</span>
                        <span class="text-red-500">S/ {{ item.discounted_price|floatformat:2 }}</span>
                    {% else %}
                        S/ {{ item.min_price|floatformat:2 }}
                    {% endif %}
                </p>
            </div>
            {% empty %}
            <p id="no-products-message" class="text-center text-gray-600">No hay productos disponibles.</p>
            {% endfor %}
        </div>    
    </div>

    <!-- Paginación -->
    <div class="pagination mt-6 text-center" id="pagination-container">
        <span class="step-links text-gray-700 space-x-2">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if selected_category %}&category={{ selected_category }}{% endif %}{% if selected_filter %}&filter={{ selected_filter }}{% endif %}" class="text-blue-500 hover:underline">&laquo; Primera</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if selected_filter %}&filter={{ selected_filter }}{% endif %}" class="text-blue-500 hover:underline">Anterior</a>
            {% endif %}
            <span class="font-medium">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if selected_filter %}&filter={{ selected_filter }}{% endif %}" class="text-blue-500 hover:underline">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if selected_filter %}&filter={{ selected_filter }}{% endif %}" class="text-blue-500 hover:underline">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<!-- Script para aplicar filtros de categoría y atributos -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    const applyFilters = () => {
        const selectedCategory = document.querySelector("input[name='category']:checked").value;
        const selectedFilter = document.querySelector("input[name='filter']:checked").value;
        window.location.href = `{% url 'products_list' %}?category=${selectedCategory}&filter=${selectedFilter}`;
    };

    document.querySelectorAll("input[name='category']").forEach(radio => {
        radio.addEventListener("change", applyFilters);
    });

    document.querySelectorAll("input[name='filter']").forEach(radio => {
        radio.addEventListener("change", applyFilters);
    });
});
</script>
{% endblock %}
