{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col min-h-screen">
    <div class="flex-grow mt-40 mb-10">
        <div id="product-detail-container" class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <h1 id="product-name" class="text-3xl font-semibold text-gray-800 mb-6 text-center">{{ product.name }}</h1>
            
            <!-- Carrusel de Imágenes del Producto -->
            <div id="product-image-carousel" class="relative mb-6">
                <div class="overflow-hidden relative">
                    <div class="flex transition-transform duration-500 ease-in-out" id="carousel-images">
                        {% for image in product.images.all %}
                            <div class="min-w-full">
                                <img class="w-full h-auto max-w-md mx-auto rounded-lg" src="{{ image.image.url }}" alt="Imagen de {{ product.name }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button id="prev-btn" class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-gray-800 text-white rounded-full p-2 hover:bg-gray-700 focus:outline-none">
                    &lt;
                </button>
                <button id="next-btn" class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-gray-800 text-white rounded-full p-2 hover:bg-gray-700 focus:outline-none">
                    &gt;
                </button>
            </div>
            
            <!-- Descripción del producto -->
            <div id="product-description" class="text-gray-700 mb-6">
                <p><strong>Descripción:</strong> {{ product.description }}</p>
            </div>

            <!-- Tallas y precios del producto -->
            <div id="product-sizes" class="mb-6">
                {% if sizes_data %}
                    {% if sizes_data|length == 1 and sizes_data.0.size.name == "none" %}
                        <!-- Si solo hay una talla y es "none", muestra directamente el precio -->
                        <p id="price-display" class="text-gray-600 font-semibold mb-4">
                            Precio por unidad: S/ {{ sizes_data.0.discounted_price|default:sizes_data.0.min_price|floatformat:2 }}
                        </p>
                        <form id="size-selection-form" method="POST" action="{% url 'add_to_cart' product.id %}" class="space-y-4">
                            {% csrf_token %}
                            <input type="hidden" name="size_id" value="{{ sizes_data.0.size.id }}">
                            
                            <label for="quantity" class="block font-medium text-gray-700">Cantidad:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="{{ sizes_data.0.stock }}" value="1" required class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <button type="submit" class="w-full bg-blue-600 text-white py-2 mt-4 rounded-lg font-medium hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Agregar al Carrito</button>
                        </form>
                    {% else %}
                        <!-- Si hay tallas disponibles diferentes de "none", muestra el selector de tallas -->
                        <h3 class="text-lg font-medium text-gray-800 mb-3">Tallas Disponibles:</h3>
                        <form id="size-selection-form" method="POST" action="{% url 'add_to_cart' product.id %}" class="space-y-4">
                            {% csrf_token %}
                            <select id="size" name="size_id" onchange="updatePriceAndStock()" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white text-gray-800">
                                <option value="" disabled selected class="text-gray-500">-- Selecciona una Talla --</option>
                                {% for item in sizes_data %}
                                    <option value="{{ item.size.id }}" data-price="{{ item.min_price }}" data-discounted-price="{{ item.discounted_price }}" data-stock="{{ item.stock }}" class="text-gray-800" {% if item.size.name == "none" %}selected{% endif %}>
                                        {{ item.size.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            
                            <p id="price-display" class="text-gray-600 font-semibold mt-2"></p>
                            
                            <div id="add-to-cart" style="display: none;">
                                <label for="quantity" class="block font-medium text-gray-700">Cantidad:</label>
                                <input type="number" id="quantity" name="quantity" min="1" value="1" required class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <button type="submit" class="w-full bg-blue-600 text-white py-2 mt-4 rounded-lg font-medium hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Agregar al Carrito</button>
                            </div>
                        </form>
                    {% endif %}
                {% else %}
                    <p class="text-gray-600">No hay tallas disponibles para este producto.</p>
                {% endif %}
            </div>

            <!-- Sección de reseñas -->
            <div id="reviews-section" class="mt-8">
                <h2 class="text-xl font-semibold text-gray-800 mb-4">Reseñas del Producto</h2>
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="p-4 bg-gray-100 rounded-lg mb-4">
                            <p><strong>{{ review.user.username }}</strong> (Calificación: {{ review.rating }}/5)</p>
                            <p>{{ review.comment }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-gray-600">Aún no hay reseñas para este producto.</p>
                {% endif %}
            </div>
            <!-- Formulario para agregar una reseña -->
            {% if user.is_authenticated %}
                <div id="add-review-section" class="mt-8">
                    <h2 class="text-xl font-semibold text-gray-800 mb-4">Agrega una Reseña</h2>
                    <form method="POST" action="{% url 'add_review' product.id %}" class="space-y-4">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="rating" class="block font-medium text-gray-700">Calificación:</label>
                            <input type="number" id="rating" name="rating" min="1" max="5" required class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </div>
                        <div class="form-group">
                            <label for="comment" class="block font-medium text-gray-700">Comentario:</label>
                            <textarea id="comment" name="comment" required class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                        </div>
                        <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-lg font-medium hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Enviar Reseña</button>
                    </form>
                </div>
            {% else %}
                <p class="text-center mt-4 text-gray-600"><a href="{% url 'login' %}" class="text-blue-500 hover:underline">Inicia sesión</a> para dejar una reseña.</p>
            {% endif %}

        </div>
    </div>
</div>

<!-- Script para el carrusel de imágenes -->
<script>
    const carouselImages = document.getElementById('carousel-images');
    const prevBtn = document.getElementById('prev-btn');
    const nextBtn = document.getElementById('next-btn');
    let currentIndex = 0;

    function updateCarousel() {
        const totalImages = carouselImages.children.length;
        carouselImages.style.transform = `translateX(-${currentIndex * 100}%)`;
    }

    prevBtn.addEventListener('click', () => {
        currentIndex = (currentIndex > 0) ? currentIndex - 1 : carouselImages.children.length - 1;
        updateCarousel();
    });

    nextBtn.addEventListener('click', () => {
        currentIndex = (currentIndex < carouselImages.children.length - 1) ? currentIndex + 1 : 0;
        updateCarousel();
    });

    updateCarousel();
</script>

<!-- Script para actualizar el precio al seleccionar la talla y limitar la cantidad por el stock -->
<script>
    function updatePriceAndStock() {
        const select = document.getElementById('size');
        const selectedOption = select.options[select.selectedIndex];
        const priceDisplay = document.getElementById('price-display');
        const addToCartDiv = document.getElementById('add-to-cart');
        const quantityInput = document.getElementById('quantity');

        if (selectedOption && selectedOption.value) {
            const price = parseFloat(selectedOption.getAttribute('data-price'));
            const discountedPrice = parseFloat(selectedOption.getAttribute('data-discounted-price'));
            const stock = parseInt(selectedOption.getAttribute('data-stock'));

            quantityInput.max = stock;
            quantityInput.value = Math.min(quantityInput.value, stock);

            addToCartDiv.style.display = 'block';

            priceDisplay.innerHTML = discountedPrice && !isNaN(discountedPrice)
                ? `Precio por unidad: <span class="line-through">S/ ${price.toFixed(2)}</span> <span class="text-red-500">S/ ${discountedPrice.toFixed(2)}</span>`
                : `Precio por unidad: S/ ${price.toFixed(2)}`;
        } else {
            priceDisplay.innerHTML = 'Selecciona una talla para ver el precio';
            addToCartDiv.style.display = 'none';
        }
    }

    document.getElementById('quantity').addEventListener('input', function () {
        const maxQuantity = parseInt(this.max);
        if (parseInt(this.value) > maxQuantity) {
            this.value = maxQuantity;
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        const select = document.getElementById('size');
        
        for (let i = 0; i < select.options.length; i++) {
            if (select.options[i].textContent.trim().toLowerCase() === "none") {
                select.selectedIndex = i;
                updatePriceAndStock();
                break;
            }
        }
    });
</script>
{% endblock %}
