{% extends 'base.html' %}

{% block content %}
<div id="profile-container" class="profile-container">
    <h1 id="titulo-editar-perfil">Editar Perfil</h1>
    <form id="form-editar-perfil" method="POST">
        {% csrf_token %}
    
        <!-- First Name -->
        <div class="form-row">
            <label for="id_first_name">Nombre:</label>
            {{ form.first_name }}
        </div>
    
        <!-- Last Name -->
        <div class="form-row">
            <label for="id_last_name">Apellidos:</label>
            {{ form.last_name }}
        </div>
    
        <!-- Email -->
        <div class="form-row">
            <label for="id_email">Correo:</label>
            {{ form.email }}
        </div>
    
        <!-- Username -->
        <div class="form-row">
            <label for="id_username">Nombre de Usuario:</label>
            {{ form.username }}
        </div>
    
        <!-- Botón de guardar cambios -->
        <button id="btn-guardar-cambios" type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
    
</div>
{% endblock %}
